<a href="https://colab.research.google.com/github/dareoyeleke/sql_queries/blob/main/BASIC_AGGREGATION_COUNT%2C_SUM%2C_DISTINCT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
%%sql
SELECT
s.orderdate,
COUNT(DISTINCT s.customerkey) AS total_customers,
COUNT ( DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) AS eu_customers,
COUNT ( DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) AS au_customers,
COUNT ( DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) AS na_customers,
SUM ( DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) AS sum_eu_customers,
SUM ( DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) AS sum_au_customers,
SUM ( DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) AS sum_na_customers
FROM
sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
WHERE
  orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
s.orderdate
ORDER BY
s.orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

,orderdate,total_customers,eu_customers,au_customers,na_customers,sum_eu_customers,sum_au_customers,sum_na_customers
0,2023-01-01,12,6,1,5,4586653.00,55996.00,5549266.00
1,2023-01-02,49,15,3,31,10017906.00,172835.00,49380004.00
2,2023-01-03,64,17,3,44,10560537.00,334714.00,63369802.00
3,2023-01-04,78,28,4,46,21453958.00,455766.00,62043410.00
4,2023-01-05,87,22,8,57,16277077.00,1209436.00,76869640.00
...,...,...,...,...,...,...,...,...
359,2023-12-27,73,26,6,41,17219996.00,470241.00,57589701.00
360,2023-12-28,75,24,7,44,16203989.00,633551.00,55172777.00
361,2023-12-29,55,19,4,32,13734964.00,349034.00,48200507.00
362,2023-12-30,91,25,16,50,17892527.00,1897474.00,70507282.00
363,2023-12-31,9,1,0,8,575610.00,NaN,10062426.00