<a href="https://colab.research.google.com/github/dareoyeleke/sql_queries/blob/main/sql_basics_course_query_import.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
%%sql
DROP TABLE IF EXISTS skills_job_dim;
DROP TABLE IF EXISTS job_postings_fact;
DROP TABLE IF EXISTS skills_dim;
DROP TABLE IF EXISTS company_dim;

CREATE TABLE public.company_dim
(
    company_id INT PRIMARY KEY,
    name TEXT,
    link TEXT,
    link_google TEXT,
    thumbnail TEXT
);

-- Create skills_dim table with primary key
CREATE TABLE public.skills_dim
(
    skill_id INT PRIMARY KEY,
    skills TEXT,
    type TEXT
);

-- Create job_postings_fact table with primary key
CREATE TABLE public.job_postings_fact
(
    job_id INT PRIMARY KEY,
    company_id INT,
    job_title_short VARCHAR(255),
    job_title TEXT,
    job_location TEXT,
    job_via TEXT,
    job_schedule_type TEXT,
    job_work_from_home BOOLEAN,
    search_location TEXT,
    job_posted_date TIMESTAMP,
    job_no_degree_mention BOOLEAN,
    job_health_insurance BOOLEAN,
    job_country TEXT,
    salary_rate TEXT,
    salary_year_avg NUMERIC,
    salary_hour_avg NUMERIC,
    FOREIGN KEY (company_id) REFERENCES public.company_dim (company_id)
);

-- Create skills_job_dim table with a composite primary key and foreign keys
CREATE TABLE public.skills_job_dim
(
    job_id INT,
    skill_id INT,
    PRIMARY KEY (job_id, skill_id),
    FOREIGN KEY (job_id) REFERENCES public.job_postings_fact (job_id),
    FOREIGN KEY (skill_id) REFERENCES public.skills_dim (skill_id)
);

-- Set ownership of the tables to the postgres user
ALTER TABLE public.company_dim OWNER to postgres;
ALTER TABLE public.skills_dim OWNER to postgres;
ALTER TABLE public.job_postings_fact OWNER to postgres;
ALTER TABLE public.skills_job_dim OWNER to postgres;

-- Create indexes on foreign key columns for better performance
CREATE INDEX idx_company_id ON public.job_postings_fact (company_id);
CREATE INDEX idx_skill_id ON public.skills_job_dim (skill_id);
CREATE INDEX idx_job_id ON public.skills_job_dim (job_id);

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
drive.mount("/content/drive", force_remount=True)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Mounted at /content/drive

In [ ]:
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy company_dim FROM '/tmp/SQL_CVS_FILES/company_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy skills_dim FROM '/tmp/SQL_CVS_FILES/skills_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy job_postings_fact FROM '/tmp/SQL_CVS_FILES/job_postings_fact.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy skills_job_dim FROM '/tmp/SQL_CVS_FILES/skills_job_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"

COPY 140033
COPY 259
COPY 787686
COPY 3669604

In [ ]:
%%bash
# Create the directory if it doesn't exist
mkdir -p /tmp/SQL_CVS_FILES

# Copy the files from Google Drive to the local directory
cp /content/drive/MyDrive/SQL_CVS_FILES/*.csv /tmp/SQL_CVS_FILES/

In [ ]:
%%sql
# USING CTE TO CALCULATE TOTAL JOB COUNT ACROSS TWO TABLES BY IMPLEMENTING A LEFT JOIN.
WITH company_job_count AS (
  SELECT
  company_id,
  COUNT(*) AS total_jobs
FROM
  job_postings_fact
GROUP BY company_id)

SELECT
  cd.name AS company_name,
  cj.total_jobs
FROM
  company_dim cd
LEFT JOIN company_job_count cj ON cd.company_id = cj.company_id
ORDER BY total_jobs DESC

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

140033 rows affected.

                     company_name  total_jobs
0                         Emprego        6661
1             Booz Allen Hamilton        2890
2                            Dice        2825
3                         Harnham        2551
4                  Insight Global        2254
...                           ...         ...
140028         American Fine Food           1
140029                      ERCOT           1
140030  PigCHAMP Pro Europa, S.L.           1
140031     QO-BOX Private Limited           1
140032  Saudi Arabian Oil Company           1

[140033 rows x 2 columns]

In [ ]:
%%sql
-- SUB QUERY FOR NEXT CODE CELL 5 TOP SKILLS
 SELECT
  sjd.skill_id
FROM
  skills_job_dim sjd
GROUP BY sjd.skill_id
ORDER BY sjd.skill_id

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

259 rows affected.

     skill_id
0           0
1           1
2           2
3           3
4           4
..        ...
254       254
255       255
256       256
257       257
258       258

[259 rows x 1 columns]

In [ ]:
# MAIN QUERY FOR NEXT CODE CELL 5 TOP SKILLS
SELECT
  sd.skills AS skill_name,sd.skill_id,COUNT(sd.skill_id) AS jobs_where_required
FROM
  skills_dim sd
LEFT JOIN skills_job_dim sjd ON sd.skill_id = sjd.skill_id
GROUP BY sd.skill_id
ORDER BY COUNT(sd.skill_id) DESC
LIMIT 5

IndentationError: unexpected indent (ipython-input-3314834257.py, line 3)

In [ ]:
%%sql
# use subquery to find top 5 skills mentioned in job posting, after aggregating job counts per company
SELECT
  sd.skills AS skill_name,sd.skill_id,COUNT(sd.skill_id) AS jobs_where_required
FROM
  skills_dim sd
LEFT JOIN skills_job_dim sjd ON sd.skill_id = sjd.skill_id
WHERE sd.skill_id IN
(
  SELECT
  sjd.skill_id
FROM
  skills_job_dim
GROUP BY sjd.skill_id
ORDER BY sjd.skill_id
)
GROUP BY sd.skill_id
ORDER BY COUNT(sd.skill_id) DESC
LIMIT 5

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

  skill_name  skill_id  jobs_where_required
0        sql         0               385750
1     python         1               381863
2        aws        76               145718
3      azure        74               132851
4          r         5               131285

In [ ]:
# MAIN QUERY FOR NEXT CODE CELL NO OF JOB OPENINGS
SELECT
  company_id,COUNT(company_id) AS no_of_open_jobs,
  CASE
    WHEN COUNT(company_id) < '10' THEN 'small'
    WHEN COUNT(company_id) BETWEEN '10' AND '50' THEN 'medium'
    WHEN COUNT(company_id) > '50' THEN 'large'
END AS size_category
FROM
 job_postings_fact
GROUP BY company_id
ORDER BY COUNT (company_id) DESC

In [ ]:
 # SUBQUERY FOR NEXT CODE CELL NO OF JOB NO OF JOB OPENINGS
 SELECT
  company_id
FROM
  job_postings_fact
GROUP BY company_id

In [ ]:
%%sql
# USING SUBQUERY TO FIND BASED ON NO OF JOB OPENING'S PER COMPANY AND CASE WHEN STATEMENT TO CLASSIFY THE COMPANY SIZE BASED ON JOB OPENING PER COMPANY
SELECT
  company_id,
  CASE
    WHEN COUNT(company_id) < '10' THEN 'small'
    WHEN COUNT(company_id) BETWEEN '10' AND '50' THEN 'medium'
    WHEN COUNT(company_id) > '50' THEN 'large'
END AS size_category
FROM
  job_postings_fact
WHERE company_id IN
(
  SELECT
  company_id
FROM
  job_postings_fact
GROUP BY company_id
)
GROUP BY company_id
ORDER BY company_id

In [ ]:
%%sql
# COUNT OF REMOTE JOB POSTINGS PER SKILL, INCLUDING SKILL ID , NAME AND COUNT OF POSTINGS REQUIRED PER SKILL

In [ ]:
%%sql
SELECT *
FROM job_postings_fact
LIMIT 100

In [ ]:
%%sql
SELECT *
FROM
  skills_dim
LIMIT 100

In [ ]:
%%sql
SELECT *
FROM
  skills_job_dim
LIMIT 100

In [ ]:
# query to calculate aggregate count for top 5 skills for remote data analysts jobs
%%sql
WITH remote_job_skills AS
(
SELECT
  sjd.skill_id, COUNT(sjd.skill_id) AS skill_count
FROM
  skills_job_dim sjd
INNER JOIN
  job_postings_fact jpf ON sjd.job_id = jpf.job_id
WHERE
  jpf.job_work_from_home = true AND job_title_short = 'Data Analyst'
GROUP BY
  sjd.skill_id
)
SELECT
  rjs.skill_id,
  skills AS skill_name,
  rjs.skill_count
FROM
  remote_job_skills rjs
INNER JOIN skills_dim sd ON sd.skill_id = rjs.skill_id
ORDER BY rjs.skill_count DESC
LIMIT 5;

In [ ]:
%%sql
SELECT
  sjd.skill_id, COUNT(sjd.skill_id) AS skill_count
FROM
  skills_job_dim sjd
INNER JOIN
  job_postings_fact jpf ON sjd.job_id = jpf.job_id
WHERE
  jpf.job_work_from_home = true
GROUP BY
  sjd.skill_id

In [ ]:
%%sql
SELECT *
FROM job_postings_fact
LIMIT 100

In [ ]:
# query to create a new table with a date based condition using the EXTRACT function
%%sql
CREATE TABLE january_jobs AS
  SELECT *
  FROM job_postings_fact
  WHERE (EXTRACT(MONTH FROM job_posted_date)) = 1

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

92266 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
-- query to create a new table with a date based condition using the EXTRACT function
CREATE TABLE february_jobs AS
  SELECT *
  FROM job_postings_fact
  WHERE (EXTRACT(MONTH FROM job_posted_date)) = 2

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(The named parameters feature is "disabled". Enable it with: %config SqlMagic.named_parameters="enabled".
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg2.errors.SyntaxError) syntax error at or near "CREATE"
LINE 3: CREATE TABLE february_jobs AS
        ^

[SQL: SELECT *
FROM(
CREATE TABLE february_jobs AS
  SELECT *
  FROM job_postings_fact
  WHERE (EXTRACT(MONTH FROM job_posted_date)) = 2
)]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
-- query to create a new table with a date based condition using the EXTRACT function
CREATE TABLE march_jobs AS
  SELECT *
  FROM job_postings_fact
  WHERE (EXTRACT(MONTH FROM job_posted_date)) = 3

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(The named parameters feature is "disabled". Enable it with: %config SqlMagic.named_parameters="enabled".
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg2.errors.SyntaxError) syntax error at or near "CREATE"
LINE 3: CREATE TABLE march_jobs AS
        ^

[SQL: WITH march_jobs AS
(
CREATE TABLE march_jobs AS
  SELECT *
  FROM job_postings_fact
  WHERE (EXTRACT(MONTH FROM job_posted_date)) = 3
)
SELECT *
FROM
  march_jobs]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql
SELECT
  job_location,
  job_title_short,
  company_id
FROM
  january_jobs

UNION

SELECT
  job_location,
  job_title_short,
  company_id
FROM
  february_jobs

UNION

SELECT
  job_location,
  job_title_short,
  company_id
FROM
  march_jobs

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

143227 rows affected.

                       job_location    job_title_short  company_id
0                   107-0052, Japan      Data Engineer      131084
1       10th of Ramadan City, Egypt   Business Analyst      332935
2        6th of October City, Egypt   Business Analyst        2611
3        6th of October City, Egypt   Business Analyst      548891
4        6th of October City, Egypt     Cloud Engineer       88144
...                             ...                ...         ...
143222                         None  Software Engineer       18407
143223                         None  Software Engineer       76476
143224                         None  Software Engineer      103985
143225                         None  Software Engineer      278398
143226                         None  Software Engineer      600934

[143227 rows x 3 columns]

In [ ]:
%%sql
SELECT
  job_location,
  job_title_short,
  company_id
FROM
  january_jobs

UNION ALL

SELECT
  job_location,
  job_title_short,
  company_id
FROM
  february_jobs

UNION ALL

SELECT
  job_location,
  job_title_short,
  company_id
FROM
  march_jobs

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

220984 rows affected.

                        job_location       job_title_short  company_id
0                  Bangkok, Thailand          Data Analyst           5
1       Esch-sur-Alzette, Luxembourg        Data Scientist          32
2                        Wyoming, MI          Data Analyst          34
3        Bengaluru, Karnataka, India        Data Scientist          43
4                       Cairo, Egypt  Senior Data Engineer          65
...                              ...                   ...         ...
220979                         India     Software Engineer        5343
220980                         India     Software Engineer       27869
220981                         India        Data Scientist      787554
220982                 Sarnen, Swiss         Data Engineer      370030
220983                         India     Software Engineer      279597

[220984 rows x 3 columns]

In [ ]:
%%sql
SELECT
  skills, type AS skill_type
FROM
  skills_dim
WHERE skill_id IN
(
SELECT
  skill_id
FROM
  skills_job_dim

UNION

SELECT
  skill_id
FROM
  skills_dim
)
AND skills = 'sql' OR skills = 'python' OR skills = 'powerbi'
GROUP BY type,skills
ORDER BY type,skills

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

    skills     skill_type
0  powerbi  analyst_tools
1   python    programming
2      sql    programming

In [ ]:
%%sql
# query to find job skills and skill types using a full join with 2 other tables to find jobs with 70000> in salary in the first quater using EXTRACT and an AND operator
SELECT
  skills, type
FROM skills_job_dim sjd
FULL JOIN skills_dim sd ON sd.skill_id = sjd.skill_id
FULL JOIN job_postings_fact jpf ON sjd.job_id = jpf.job_id
WHERE salary_year_avg > 70000.0 AND (EXTRACT(MONTH FROM job_posted_date) = 1 OR EXTRACT(MONTH FROM job_posted_date) = 2 OR EXTRACT(MONTH FROM job_posted_date) = 3)

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

34112 rows affected.

           skills         type
0             sql  programming
1            html  programming
2      javascript  programming
3            bash  programming
4               r  programming
...           ...          ...
34107        None         None
34108        None         None
34109        None         None
34110        None         None
34111        None         None

[34112 rows x 2 columns]

In [ ]:
%%sql
# my own query to use table union in a subquery and then find all skills and skill type of jobs with 70000> in salary using a full join and AND operator to combine salary condition
SELECT
  skills, type
FROM skills_job_dim sjd
FULL JOIN skills_dim sd ON sd.skill_id = sjd.skill_id
FULL JOIN job_postings_fact jpf ON sjd.job_id = jpf.job_id
WHERE jpf.job_id IN
(
SELECT job_id
FROM january_jobs

UNION ALL

SELECT job_id
FROM february_jobs

UNION ALL

SELECT job_id
FROM march_jobs
)
AND salary_year_avg > 70000.0

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

34112 rows affected.

       skills         type
0         sql  programming
1      python  programming
2         sql  programming
3      python  programming
4       mysql    databases
...       ...          ...
34107     sql  programming
34108      go  programming
34109   azure        cloud
34110    jira        async
34111    None         None

[34112 rows x 2 columns]

In [ ]:
%%sql
# Luke's query to use table union in a subquery and then find all skills and skill type of jobs with 70000> in salary using a full join and AND operator to combine salary condition, turns out luke gave misleading instructions
SELECT
  job_title_short,
  job_location,
  job_via,
  job_posted_date::DATE,
  salary_year_avg
FROM
(
  SELECT *
  FROM
    january_jobs

  UNION ALL

  SELECT *
  FROM
    february_jobs

  UNION ALL

  SELECT *
  FROM
    march_jobs
)
AS quater_one_jobs
WHERE salary_year_avg >= '70000'
AND job_title_short = 'Data Analyst'
ORDER BY
  salary_year_avg DESC

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1147 rows affected.

,job_title_short,job_location,job_via,job_posted_date,salary_year_avg
0,Data Analyst,Anywhere,via Y Combinator,2023-02-20,650000.0
1,Data Analyst,"Fairfax, VA",via Ladders,2023-02-23,225000.0
2,Data Analyst,"Boston, MA",via Ladders,2023-02-14,225000.0
3,Data Analyst,"Los Angeles, CA",via LinkedIn,2023-01-11,222500.0
4,Data Analyst,"Chantilly, VA",via Ball - Talentify,2023-01-07,218500.0
...,...,...,...,...,...
1142,Data Analyst,"Herndon, VA",via Indeed,2023-02-27,70000.0
1143,Data Analyst,"Bakersfield, CA",via ZipRecruiter,2023-01-04,70000.0
1144,Data Analyst,"Miami, FL",via Indeed,2023-01-27,70000.0
1145,Data Analyst,"Los Angeles, CA",via LinkedIn,2023-03-08,70000.0
1146,Data Analyst,None,via LinkedIn,2023-02-15,70000.0